/* Basic reset and layout styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
   
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
   
}

.card {
    margin: 20px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
   border-color:black;
   text-align: center;

}
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.card-body {
    padding: 15px;
    
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1em;
    color: #6c757d;
}

.card:hover {
    transform: scale(1.05);
}

header {
    background-color: orange;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#h7{
    font-size: 70px;
    color: whitesmoke;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}






